footer {
  background-color: rgb(57, 5, 5);
  padding: 20px;
  color: white;
  text-align: center;
}

/* Sticky footer logic */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}