header {
  background-color: rgb(57, 5, 5);
  padding: 20px;

  .logo {
    color: white;
    margin-bottom: 10px;
  }

  a {

    text-decoration: none;

    color: rgb(236, 236, 236);
    padding: 0 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

}